/* GLOBAL */
* {
    margin: 0;
    padding: 0;
}


/* UTILITIES */



/* MAIN */



/* WELCOME */



/* SERVICES */



/* FOOTER */
.site-footer {
    background-color: black;
    height: 10rem;
    color: white;
}